{% extends 'index.html' %}
{% block content %}
<div class="card mt-3 text-center border-primary">
      <div class="card-header text-primary">
          <h1>Your Dashboard</h1>
      </div>
      <div class="card-body p-3 overflow-hidden">
          <h5 class="card-title text-dark">Welcome to your account dashboard</h5>
          {% if current_user.profile_pic %}
            <img width='200' height='200' class="object-fit-cover border rounded-circle border-primary border-5 p-1 mb-4" src='{{ url_for('static', filename="images/"+ current_user.profile_pic) }}' />
            {% else %}
            <img width='200' height='200' class="object-fit-cover border rounded-cir    cle border-primary border-5 p-1 mb-4" src='{{ url_for('static', filename="images/cat.jpg") }}' />
          {% endif %}
          <p class="card-text">
          <strong>UserName: </strong>{{ current_user.username }}<br>
          <strong>First Name: </strong>{{ current_user.FirstName }}<br>
          <strong>Last Name: </strong>{{ current_user.LastName }}<br>
          <strong>Email: </strong>{{ current_user.email }}<br>
          </p>
          <a href="{{ url_for('logout') }}" class="btn btn-warning col-3">logout</a>
          <a href="{{ url_for('updateUser', id=current_user.id) }}" class="btn btn-success col-3">Update</a>
          {% if current_user.id == 3 %}
            <a href="{{ url_for('admin') }}" class="btn btn-primary col-3">Admin</a>
        {% endif %}
                                    </div>
</div>
<div class="card mt-5 border-primary">
    <div class="card-header text-primary text-center">
        <h1>Update User</h1>
    </div>
    <div class="card-body">
<form method='post' class='p-4' action='/dashboard/update/{{ current_user.id }}'>
    <label class='form-label' for='fn'>Username</label>
    <input type='text' class='form-control' id='fn' name='username' value={{ current_user.username }} />  
    <label class='form-label' for='fn'>Firstname</label>
    <input type='text' class='form-control' id='fn' name='FirstName' value={{ current_user.FirstName }} />
    <label class='form-label' for='ln'>Lastname</label>
    <input type='text' class='form-control' id='ln' name='LastName' value={{ current_user.LastName }} />
    <label class='form-label' for='em'>Email</label>
    <input type='email' class='form-control' id='em' name='email' value={{ current_user.email }} />
    <button class='btn btn-secondary mt-5 col-3'>Update</button>
</form>
    </div>
 </div>
{% endblock %}
