{% extends 'index.html' %}
{% block content %}
<div class="card mt-3 text-center border-primary">
      <div class="card-header text-primary">
          <h1>Your Dashboard</h1>
      </div>
      <div class="card-body">
          <h5 class="card-title">Welcome to your account dashboard</h5>
          <p class="card-text">
          <strong>First Name: </strong>{{ current_user.FirstName }}<br>
          <strong>Last Name: </strong>{{ current_user.LastName }}<br>
          <strong>Email: </strong>{{ current_user.email }}<br>
          </p>
          <a href="{{ url_for('logout') }}" class="btn btn-secondary col-3">logout</a>
          <a href="{{ url_for('updateUser', id=current_user.id) }}" class="btn btn-secondary col-3">Update</a>
                                    </div>
</div>
{% endblock %}
