{% extends 'index.html' %}
{% block content %}
{% for post in posts %}
    <div class='shadow p-3 mb-4 bg-body-secondary text-black'>
        <div class='d-flex mb-2 gap-2'>
        <img width='100' height='100' class="object-fit-cover border rounded-circle border-primary border-5 p-1" src="{{ url_for('static', filename='images/'+ (post.poster.profile_pic or 'cat.jpg')) }} "/>
        <h2 class='text-primary display-4 border-bottom border-success'>{{ post.poster.username }}    </h2>
        </div>
        <p class='display-6'><strong>Title: </strong>{{ post.title }}</p>
        <p>{{ post.content }}</p>
        {% if  post.poster_id == current_user.id or current_user.id == 3 %}
        <div class='d-flex justify-content-end gap-2'>
            <a href="{{ url_for('edit', id=post.id) }}" class='btn btn-success col-2'>Update</a>
            <a href="{{ url_for('deletepost', id=post.id) }}" class='btn btn-danger col-2'>Delete</a>
        </div>
        {% endif %}
    </div>
    {% endfor %}
{% endblock %}
