{% extends 'index.html' %}
{% block content %}
{% if name %}
    <h1> Hello {{ name }} </h1><br>
    {% for user in all_users %}
    <div class='d-flex gap-3 mb-3'>
        <div>{{ user.id }}{{ user.name }}-{{ user.email }} 
        </div>
        <a href='{{ url_for('update', id=user.id)}}' class='btn btn-primary'>Update</a>
        <a href='{{ url_for('deleteuser', id=user.id)}}' class='btn btn-warning'>Delete</a>
    </div>
    {% endfor %}
{% else %}
    <form method='POST'>
        {{ form.hidden_tag() }}
        {{ form.name.label(class='form-label') }}
        {{ form.name(class='form-control') }}
        {{ form.email.label(class='form-label') }}
        {{ form.email(class='form-control ') }}
        {{ form.submit(class='btn btn-success mt-4') }}
    </form>
{% endif %}
{% endblock content %}
